<!-- HTML -->
<footer class="powered-footer">
  <span class="supported-label">Supported by</span>
  <div class="logos">
    <a href="https://www.hawaii.edu/climate-data-portal/" target="_blank" rel="noopener">
      <img src="logos/hcdp.png" alt="HCDP Logo" class="logo-small">
    </a>
    <a href="https://www.hawaii.edu/climate-data-portal/hawaii-mesonet-data/#/" target="_blank" rel="noopener">
      <img src="logos/mesonet.png" alt="Mesonet Logo">
    </a>
    <a href="https://pdke.soest.hawaii.edu/" target="_blank" rel="noopener">
      <img src="logos/pdke.png" alt="PDKE Logo">
    </a>
    <a href="https://pi-casc.soest.hawaii.edu/" target="_blank" rel="noopener">
      <img src="logos/picasc.png" alt="PICASC Logo">
    </a>
    <a href="https://seagrant.soest.hawaii.edu/" target="_blank" rel="noopener">
      <img src="logos/SeaGrant.jpg" alt="Sea Grant Logo">
    </a>
    <a href="https://www.hawaii.edu/" target="_blank" rel="noopener">
      <img src="logos/UH.jpg" alt="University of Hawaii Logo">
    </a>
    <a href="https://dlnr.hawaii.gov/cwrm/" target="_blank" rel="noopener">
      <img src="logos/cwrm.png" alt="CWRM Logo">
    </a>
    <a href="https://www.drought.gov/" target="_blank" rel="noopener">
      <img src="logos/nidis.png" alt="NIDIS Logo">
    </a>
    <a href="https://datascience.hawaii.edu/" target="_blank" rel="noopener">
      <img src="logos/hidsi.png" alt="HIDSI Logo">
    </a>
  </div>
</footer>
