<div class="wrap">
  <!-- ?id= provided: auto-unsubscribe -->
  <ng-container *ngIf="hasId">
    <ng-container *ngIf="loading">
      <p class="subtext">Unsubscribing…</p>
    </ng-container>
    <ng-container *ngIf="success">
      <div class="check">✓</div>
      <h2>You are unsubscribed</h2>
      <p class="subtext">You will no longer receive monthly climate reports.</p>
      <a class="manage-link" routerLink="/manage-preferences">Manage preferences</a>
    </ng-container>
    <ng-container *ngIf="errorMsg">
      <h2>Something went wrong</h2>
      <p class="error">{{ errorMsg }}</p>
      <a class="manage-link" routerLink="/manage-preferences">Manage preferences</a>
    </ng-container>
  </ng-container>

  <!-- No ?id=: nothing to do here -->
  <ng-container *ngIf="!hasId">
    <h2>Unsubscribe</h2>
    <p class="subtext">To manage your subscriptions, use the link below.</p>
    <a class="manage-link" routerLink="/manage-preferences">Manage preferences</a>
  </ng-container>
</div>
